@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    --c-bg: #fbfbfb;
    --c-wg: #fff;
    --c-wb: #c2c2c2;
    --c-bg-op: #fbfbfb00;
    --c-fg: #444444;
    --c-scroll: #d9d9d9;
    --c-scroll-hover: #bbbbbb;
    --ant-color-primary: #1677ff;
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
    --primary-glow: conic-gradient(from 180deg at 50% 50%,#16abff33 0deg,#0885ff33 55deg,#54d6ff33 120deg,#0071ff33 160deg,transparent 360deg);
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-1.5;
        @apply h-1.5;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-[var(--c-scroll)];
        @apply rounded-md;
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-[var(--c-scroll-hover)];
    }
    ::-webkit-scrollbar-track {
        @apply bg-[var(--c-bg)];
    }
}

@layer components {
    .polka {
        background-image: radial-gradient(var(--c-wb) 0.7px, #fcfcfc 1px);
        background-size: 14px 14px;
    }
    .ant-radio-wrapper-checked .h-8 {
        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 255, 0.415);
    }
}